body{
    display: flex;
    flex-direction: column;
    background: url("https://bit.ly/3fyZaaq");
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow: auto;
    background-color: floralwhite;
}
